################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/KPMG-developer-tech-test/v17/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/KPMG-developer-tech-test/config/applicationhost.config
/.vs/slnx.sqlite-journal
