.map-container {
    height: 400px;

    .map-marker {
        width: 20px;
        height: 20px;
    }
}

.map-marker {
    background: none;
    border: none;
    cursor: pointer;

    img {
        width: 20px;
        height: 20px;
    }
}

.map-popup {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    z-index: 10;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}