.map-container {
    height: 400px;

    .map-marker {
        width: 20px;
        height: 20px;
    }
}

.map-marker {
    background: none;
    border: none;
    cursor: pointer;

    img {
        width: 20px;
        height: 20px;
    }
}